/*container doação*/
/*container projetos*/
/*container video */
/*footer*/

/*
320PX BREAKPOINT
*/
@media (min-width: 20em ){
  
  .club_page_offer_sign{
    padding: 30px;
    background: #efebe3;
    margin-top: -150px;
    color: #666;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border-bottom: 3px solid #ccc;
    vertical-align: middle;
}
  
      .club_section_header {
    width: 100%;
   /** background-image: url(images/papel.png);**/
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: 100%;
    padding: 5px;
    
  }
  
   .club_section_header h1  {
    text-align: center;
    display: block;
    float: none;
    font-family: 'Nightingale';
    color: #1E120D;
    font-size: 45%;
    font-weight: 800;
    margin-top: -50px; 
}
  
  .logo_text{
    display: none;
    }
  
  .image{
    width: 100%;
    height 200px;
  }
  
  .texto {  
  position: relative;
  margin-top: -30px;
  }


    .main_logo{
        margin: 10px 0 auto;
        width: 70%;
        padding-left: 30px;
        margin-left: 40px;
    }

    .main_header{
        background: #f3b93c;
      }
      
      .main_header header{
          float: left;
          background: #f3b93c;
          display: block;
          
      }
        
      .main_header header h1{
          text-align: center;
          padding: 64px;
          background: #769977;
          color: #fff;
          float: left;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 1.5em;
          padding-bottom: 50px;
          margin-right: 50px; 
      }

      .main_header_bar{
        max-width : 100%;
        margin-top: -90px;
        float: none;
        margin-bottom: 50px;
        margin-left: -50px;
    }
    
    .main_header_bar_line{
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
       padding-left: 50px;
       float: left;
    }
    
    .main_header_bar_line.contact{
        margin-bottom: 18px;
        text-align: right;
       padding-left: 50px;
    }
    
    .main_header_bar_contact{
        float: left;
        margin-top: 2px;
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: 700;
        vertical-align: middle;
        color: #D01C27;
    }
    
    .main_header_bar_contact a{
        color: #D01C27;
        font-weight: 700;
        font-size : 15px;
        text-decoration: none;
    }
    
    .main_header_bar_contact fc{
        color: #D01C27;
        font-weight: 300;
        font-size : 15px;
        text-decoration: none;
      margin-top: 80px;
       
    }
    
    .main_header_bar_contact a:hover{
        text-decoration: underline;
    }
    
    .main_header_bar_social{
        display: block;
        max-width: 100%;
        margin-left: 15px;
    }
    
    .main_header_bar_social li{
        float: left;
        margin: 15px;
    }
    
    .main_header_bar_social li a{
        float: left;
        padding: 8px;
        background: #f3b93c;
    }
    
    .main_header_bar_social li img{
        height: 20px
    }
    
  .main_mao{
  display:none;
  }
  
   .club_call_to_action_home{
    color: #bb1350;
    float : none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    /*border: 1px solid #9E3434;*/
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.6em;
    margin: 10% auto; 
    width: 100%;
    position: relative;
    
}
  
  .wc_donation_modal_button{
    text-align: center;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.wc_donation_modal_button .btn,
.wc_donation_modal_button img{
    display: inline-block;
    vertical-align: middle;
}

.wc_donation_modal_button .btn{
    padding: 10px  20px;
    font-size: 1em;
}

.wc_donation_modal_button img{
    margin-left: 10px;
    display: none;
}
  
  
   .club_page_main_step{
    text-align: center;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 2%;
}
  
.page_main_video{
    margin: 0;
    display: block;
    background: #31495d  bottom center no-repeat;
    max-width: 100%;
    color: #fff;
}
    
   .club_page_main_info{
    width: 100%;
    text-align: center
    }
  
    .club_page_main_step:last-of-type{
        width: 100%;
    }
  
   .club_page_main_info h4,
    .club_page_main_info h5{
        font-size: 1.3em;
    }

    .club_page_main_info p{
        font-size: 0.6em;
    }
  
  
  .club_page_main_step a {
    display: block;
  }
  
    .club_page_main_step h4, h5{
    text-align: center;
    display: inline-block;
    padding: 0 2%;
}
  
  .club_call_to_action{
    color: #bb1350;
    float : none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    /*border: 1px solid #9E3434;*/
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.6em;
    margin: 10% auto; 
    width: 250px;
    position: relative;
    
}
}

/*
375PX BREAKPOINT
*/
@media (min-width: 23.4375em) {
  
.main_header_bar{
  width: 80%;
  dispaly: inline-block;
  }
  
}

/*
437PX BREAKPOINT
*/
@media (min-width: 27.3125em){
  
     .club_section_header {
    width: 100%;
   /** background-image: url(images/papel.png);**/
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: 100%;
    padding: 5px;
    
  }
  
   .club_section_header h1  {
    text-align: center;
    display: block;
    float: none;
    font-family: 'Nightingale';
    color: #1E120D;
    font-size: 80%;
    font-weight: 800;
    margin-top: -80px;
}
  
  
     .club_call_to_action_home{
    color: #bb1350;
    float : none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.6em;
    margin: 10% auto; 
    width: 100%;
    position: relative;
    
}

.main_header{
    background: #f3b93c;
  }
  
  .main_header header{
      float: left;
      background: #f3b93c;
      display: block;
      
  }
  
  .main_header header h1{
      text-align: center;
      padding: 64px;
      background: #769977;
      color: #fff;
      float: left;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.5em;
      padding-bottom: 50px;
      margin-right: 50px; 
  }

  .main_header_bar{
    max-width : 100%;
    margin-top: -90px;
    float: none;
    margin-bottom: 50px;
    margin-left: -50px;
}

.main_header_bar_line{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
   padding-left: 50px;
   float: left;
}

.main_header_bar_line.contact{
    margin-bottom: 18px;
    text-align: right;
   padding-left: 50px;
}

.main_header_bar_contact{
    float: left;
    margin-top: 2px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    vertical-align: middle;
    color: #D01C27;
}

.main_header_bar_contact a{
    color: #D01C27;
    font-weight: 700;
    font-size : 15px;
    text-decoration: none;
}

.main_header_bar_contact fc{
    color: #D01C27;
    font-weight: 300;
    font-size : 15px;
    text-decoration: none;
  margin-top: 80px;
   
}

.main_header_bar_contact a:hover{
    text-decoration: underline;
}

.main_header_bar_social{
    display: block;
    margin-left: 15px;
}

.main_header_bar_social li{
    float: left;
    margin: 0;
}

.main_header_bar_social li a{
    float: left;
    padding: 8px;
    background: #f3b93c;
}

.main_header_bar_social li img{
    height: 20px
}

}


/*
480PX BREAKPOINT
*/
@media (min-width: 30em ){
  
      .club_section_header {
    width: 100%;
   /** background-image: url(images/papel.png);**/
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: 100%;
    padding: 5px;
    
  }
  
   .club_section_header h1  {
    text-align: center;
    display: block;
    float: none;
    font-family: 'Nightingale';
    color: #1E120D;
    font-size: 80%;
    font-weight: 800;
    margin-top: -80px;
}
  
    .club_page_main_step{
    text-align: center;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 2%;
}
  
  .club_page_main_info{
    width: 100%;
    text-align: center
    }
  
    .club_page_main_step h4, h5{
    text-align: center;
    display: inline-block;
    padding: 0 2%;
}
  
     .club_call_to_action_home{
    color: #bb1350;
    float : none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.6em;
    margin: 10% auto; 
    width: 100%;
    position: relative;
    
}
  
  .wc_donation_modal_button{
    text-align: center;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.wc_donation_modal_button .btn,
.wc_donation_modal_button img{
    display: inline-block;
    vertical-align: middle;
}

.wc_donation_modal_button .btn{
   /* padding: 10px  20px; */
    font-size: 1em;
}

.wc_donation_modal_button img{
    margin-left: 10px;
    display: none;
}
  
  .club_call_to_action{
    color: #bb1350;
    float : none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    /*border: 1px solid #9E3434;*/
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.6em;
    margin: 10% 20% 20% 20%; 
    width: 250px;
    position: relative;
    
}

  }

/*
523PX BREAKPOINT
*/
@media (min-width: 32.6875em){
  
     .club_call_to_action_home{
    color: #bb1350;
    float : none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.6em;
    margin: 10% auto; 
    max-width: 60%;
    position: relative;
    
}
 
}

/*
640PX BREAKPOINT
*/
@media (min-width: 40em ){
    
  
 .club_section_header {
    width: 100%;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: 100%;
    padding: 5px;
   /** background-image: url(images/papel.png);**/
  }
  
   .club_section_header h1  {
    text-align: center;
    display: inline-block;
    float: none;
    font-family: 'Nightingale';
    color: #1E120D;
    font-size: 100%;
    margin-top: -100px;
}

    .main_mao{
       display: none;
        
        }
    
   
     .club_page_main_step{
    text-align: center;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 0 2%;
    }
  
  .club_page_main_info{
    width: 100%;
    text-align: center;
    }
    .club_page_main_step h4, h5{
    text-align: center;
    display: block;
    padding: 0 2%;
}
  
  .club_call_to_action{
    color: #bb1350;
    float : none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    /*border: 1px solid #9E3434;*/
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.6em;
    margin: 10% 20% 10% 30%; 
    max-width: 80%;
    position: relative;
    
}
  
   .club_call_to_action_home{
    color: #bb1350;
    float : none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.6em;
    margin: 10% auto; 
    width: 100%;
    position: relative;
    
}
  
  .wc_donation_modal_button{
    text-align: center;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.wc_donation_modal_button .btn,
.wc_donation_modal_button img{
    display: inline-block;
    vertical-align: middle;
}

.wc_donation_modal_button .btn{
   /* padding: 10px  20px; */
    font-size: 1em;
}

.wc_donation_modal_button img{
    margin-left: 10px;
    display: none;
}

  }

/*
768PX BREAKPOINT
*/
@media (min-width: 48em ){
  
   .main_logo{
    width: 60%;
    padding-left: 10px;
    margin-left: 80px;
  }
  
  .main_header_bar{
  dispaly: inline-block;
  }
  
  
    .club_section_header {
      width: 100%;
   /* background-image: url(images/papel.png) no-repeat;**/
    
  }
  
   .club_section_header h1  {
    text-align: center;
    display: inline-block;
    float: none;
    font-family: 'Nightingale';
    color: #1E120D;
    font-size: 100%;
    margin: -130px;
     
}
  
  
  
  
  
}

/*
1024PX BREAKPOINT
*/
@media (min-width: 64em){
    .club_page_main_step h4 h5{
    text-align: center;
    padding: 0 6%;
}
   .main_mao{
    width : 72%;
    display: flex;
    float : left;
    position: relative;
    max-width: 200%;
    }


    .image_mao{
    vertical-align: top;
    top: 100%;
    position: absolute; /* Não alterar */
    overflow: auto;
    display: flex;
      margin: -190px;
        margin-top: -128px;
        background-size: fixed;
        z-index: 200;
    }
  
    
  .form-width{
    width: 60%;
    float: right;
    
  }
  

  .main_logo{
    width: 25%;
    padding-left: 20px;
    margin-left: 80px;
  }
  
  .main_header_bar{
    margin-top: -180px;
    float: right;
}

.main_header_bar_line{
    display: block;
    width: 100%;
   padding-left: 50px;
}

.main_header_bar_line.contact{
    margin-bottom: 8px;
    
   padding-left: 500px;
}

.main_header_bar_contact{
    float: left;
    margin-top: 2px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    vertical-align: middle;
    color: #D01C27;
}

.main_header_bar_contact a{
    color: #D01C27;
    font-weight: 700;
    font-size : 15px;
    text-decoration: none;
}

.main_header_bar_contact fc{
    color: #D01C27;
    font-weight: 300;
    font-size : 15px;
    text-decoration: none;
  margin-top: 80px;
   
}

.main_header_bar_contact a:hover{
    text-decoration: underline;
}

.main_header_bar_social{
    display: inline-block;
    margin-left: 15px;
}

.main_header_bar_social li{
    float: left;
    margin: 0;
}

.main_header_bar_social li a{
    float: left;
    padding: 8px;
    background: #f3b93c;
}

.main_header_bar_social li img{
    height: 20px
}

.main_header_bar_line.search{
    text-align: right;
    vertical-align: middle;
}

.main_header_bar_line.search form{
    display: inline-block;
    background: #fbfbfb;
    padding: 8px;
    vertical-align: middle;
}

.main_header_bar_line.search input{
    float: left;
    width: auto;
    padding: 8px;
    display: inline-block;
    border: 1px solid #eee;
}

.main_header_bar_line.search .btn{
    float: right;
    display: inline-block;
    margin: 0;
    margin-left: 8px;
}

.main_header_cart{
    display: inline-block;
    background: #769977;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-left: 10px;
}

.main_header_user{
    display: inline-block;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-left: 10px;
    cursor: pointer;
}

.main_header_user a{
    display: block;
    padding: 15px 20px;
    background: #769977;
    color: #fff;
    text-decoration: none;
}

.main_header_user a:hover,
.main_header_cart:hover{
    background: #5fa961;
}
  
  .logo_text{
    font-family: 'Nightingale';
    position: absolute;
    display: flex;
    left: 100px;
    top: 100px;
    text-align: center;
    color: #1e120d;
    padding-top: 50px;
    padding-left: 100px;
    z-index: 500;
    
}

    .club_section_header {
      width: 80%;
      margin-left : 100px;
   /* background-image: url(images/papel.png) no-repeat;**/
    
  }
  
   .club_section_header h1  {
    text-align: center;
    display: inline-block;
    float: none;
    font-family: 'Nightingale';
    color: #1E120D;
    font-size: 1.5em;
    margin: -160px;
     
}
  
  
  .club_page_main_info{
    width : 50%;
    z-index: 800;
  }
  
    .club_call_to_action_home{
    color: #bb1350;
    float : none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    /*border: 1px solid #9E3434;*/
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.6em;
    margin: 5% auto; 
    width: 90%;
    position: relative;
    
}
  
  .club_page_main_step{
    text-align: left;
    /**display: inline-block;**/
    width: 70%;
    vertical-align: top;
    padding: 0 2%;
    
}
  
  .club_call_to_action{
    color: #bb1350;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aller';
    text-align: center;
    background: #f3ba3d;
    /*border: 1px solid #9E3434;*/
    border-bottom: 4px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    
    /*margin: 10% 20% 10% 70%;*/
    letter-spacing: 0.6em;
    width: 240px;
    position:relative;
}

  }


/*HEADER*/
.main_header{
  background: #f3b93c;
}

.main_header header{
    float: left;
    background: #f3b93c
}

.main_header header h1{
    text-align: center;
    padding: 34px;
    background: #769977;
    color: #fff;
    float: left;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
}



.bg_header{
  background-image: url(images/bg_header.png) no-repeat fixed;
  margin: 0;
}


.content{
    width: 96%;
    max-width: 1366px;
    padding: 50px 0;
}


*:hover{
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
}

.on_mobile{
    display: none !important;
}

.on_desktop{
    display: inline-block !important;
}

.btn_black{
    background-color: #111;
    text-shadow: 1px 1px #000;
}

.btn_blue:hover{background-color: #096397;}


/*container doação*/

.icon_card_credit{
  background: url(images/icon/icon-twiter.jpg);
  text-decoration: none;
}

.wc_donation_modal{
    display: none;
    position: fixed;
    left: 0
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 101;
}

.wc_donation_modal_content{
    display: inline-block;
    width: 1024px;
    max-width: 90%;
    margin: 5% auto 0 auto;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    padding: 30px;
    min-height: 200px;
}

.wc_donation_close{
    position: absolute;
    right: -12px;
    top: -12px;
    padding: 7px 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: #cf7171;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 0.875em;
}

.wc_donation_close:hover{
    background: #F45563;
}

.wc_donation_modal_content header{
    margin-bottom: 20px;
    color: #555;
}

.wc_donation_modal_content h1{
    font-size: 1.5em;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

.wc_donation_modal_content h1 span{
    border-bottom: 5px solid #ccc;
    padding-bottom: 6px;
}

.wc_donation_modal_form{
    padding-bottom: 10px;
}

.wc_donation_modal_form label{
    display: inline-block;
    margin-bottom: 50px;
}

.wc_donation_modal_legend{
    font-size: 0.875em;
    color: #888;
    font-variant: small-caps;
    display: block;
    margin-bottom: 5px;
}

.wc_donation_modal_form input,
.wc_donation_modal_form textarea{
    font-size: 0.875em;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}

.wc_donation_modal_button{
    text-align: center;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.wc_donation_modal_button .btn,
.wc_donation_modal_button img{
    display: inline-block;
    vertical-align: middle;
}

.wc_donation_modal_button .btn{
    padding: 10px 20px;
    font-size: 1em;
}

.wc_donation_modal_button img{
    margin-left: 10px;
    display: none;
}

.wc_donation_error{
    padding: 12px;
    background: #cf7171;
    margin-bottom: 20px;
    color: #fff;
    font-size: 0.875em;
    font-weight: 400;
    display: none;
    text-align: center;
    text-shadow: 1px 1px 0 #713B3B;
}

.wc_donation_sended{
    text-align: center;
}

.wc_donation_sended .h2{
    font-size: 1.2em;
    font-weight: bold;
    color: #008B6F;
}

.wc_donation_sended .h2 span{
    display: inline-block;
    background: #008B6F;
    margin-bottom: 10px;
    font-size: 2em;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50%;
}

.wc_donation_sended p{
    margin-top: 15px;
}

.label_publish.active {
    background: #008068;
    color: #fff;
}

.label_publish {
    padding: 7px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.8em;
    background: #eee;
    margin-right: 5px;
}

.label_check {
    cursor: pointer;
    display: inline-block;
    padding: 6px 0;
    font-size: 0.875em;
    cursor: pointer;
    position: relative;
    padding-left: 22px;
    margin-right: 15px;
    width: auto;
}


/*
 
*/

.niceform input[type=radio] {
opacity: 0;
margin-right: -12px;
cursor: pointer;
width: 12px;
height: 12px;
}
.niceform input[type=radio] + span:before {
content: " ";
background-color: #ccc;
display: inline-block;
margin-right: 15px;
width: 6px;
height: 6px;
border: 3px solid #fff;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
visibility: visible;
box-shadow: 0 0 0px 2px #999;
}
.niceform input[type=radio]:checked + span:before {
background-color: #052;
}
.niceform input[type=checkbox] {
opacity: 0;
margin-right: -12px;
cursor: pointer;
width: 12px;
height: 12px;
}
.niceform input[type=checkbox] + span:before {
content: "0a0";
display: inline-block;
margin-right: 15px;
width: 12px;
height: 12px;
visibility: visible;
border: 2px dashed #999;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
line-height: 12px;
font-size: 14px;
text-align: center;
font-weight: bold;
color: #052;
}
.niceform input[type=checkbox]:checked + span:before {
content: "0d7";
}

.club_page_offer_sign{
    padding: 30px;
    background: #efebe3;
    margin: auto;
    margin-top: -150px;
    color: #666;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border-bottom: 3px solid #ccc;
    vertical-align: middle;
    position: relative;
}

.club_page_offer_sign h2 {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.club_page_offer_sign h2 b {
    color: #D01C27;
}

.club_page_offer_sign label{
    display: block;
    margin-bottom: 15px;
}

.club_page_offer_sign .legend{
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
}

.club_page_offer_sign input{
    padding: 15px;
    font-size: 0.875em;
    font-weight: 300;
    border: 1px solid #ccc;
}
.club_page_main{
    position: relative;
    text-align: center;
    background: #f3ba3d url(images/club_bg.jpg) bottom center no-repeat;
    background-size: cover;
}

.page_main_doacao{
    position: relative;
    text-align: center;
    background: #f3b93c url(images/club_bg.jpg) bottom center no-repeat;
    background-size: cover;
    width: 100%;
}

.club_page_main_cta_media{
    width: 860px;
    max-width: 100%;
    margin: 0 auto;
    background: #282C34;
    box-shadow: 0 0 20px #000;
}



.club_page_main:before {
    border-top: 50px solid #282C34;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    width: 0;
    height: 0;
    bottom: -50px;
    content: "";
    display: block;
    position: absolute;
    overflow: hidden;
    left:0;right:0;
    margin:auto;
    z-index:100;
}

.club_page_main_cta{
    z-index: 100px;
    color: #fff;
}

.club_page_main_info{
    display: block;
    margin: 30px auto 0 auto;
    max-width: 100%;
    color: #fff;
}



.club_page_main_step .step_icon{
    font-size: 3em;
    color: #ccc;
}

.club_page_main_step h3{
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 10px;
    text-transform: uppercase;
    
}

.club_page_main_step h4{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 8px;
    text-transform: uppercase;
  font-family: 'Aller';
}

.club_page_main_step h5{
    font-weight: 300;
    font-size: 0.6em;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: 'Aller';
}

.club_page_main_step p{
    font-size: 0.8em;
}


.club_call_to_action:hover{
    background: #DA4542;
    border-color: #BE3F3F;
}

.club_call_to_action_blue{
    background: #006699;
    border-color: #069;
}

.club_call_to_action_blue:hover{
    background: #008FC4;
    border-color: #006699;
}

.club_call_to_action_green{
    background: #f3ba3d;
    border-color: #13997E;
}

.club_call_to_action_green:hover{
    background: #18BF9D;
    border-color: #00B494;
}

.club_page_main_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
    background: rgba(0,0,0,0.8);
}

.club_page_main_modal_content{
    width: 760px;
    max-width: 90%;
    margin: auto;
}

.club_page_main_modal_close{
    text-align: right;
    margin-bottom: 10px;
}

.club_page_main_modal_close span{
    cursor: pointer;
    color: #fff;
    opacity: 0.5;
    font-size: 1.4em;
}

.club_page_main_modal_close span:hover{
    opacity: 1;
}

/*container projetos*/

.page_projects{
    padding: 10;
    background: url("images/transparent_logo.png") #2fb2c8 bottom center repeat;
    color: #fff;
}

.page_projects_course{
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: -300px;
    padding: 10px 0;
}

.page_projects_course img{ 
    /**border-image-source: url("images/clipper.png");**/
    -webkit-transform : rotate(5deg);
    -moz-transform : rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform : rotate(5deg);
    transform : rotate(5deg);
    border: solid 10px #fff;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    opacity: 0.8;
    background-position: left;
}

.page_projects_course:hover img{
    opacity: 1;
}

.page_projects_course_content{
    margin-top: 15px;
    padding: 25px;
    background: #efebe3;
    border-bottom: 2px solid #222;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  
  
    /**border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;**/
}

.page_projects_course_content header{
    margin-bottom: 10px;
    
}

.page_projects_course_content header h2{
    font-size: 1em;
    color : #0a0a0a;  
    margin: 0 0 10px 0;
}

.page_projects_course_content p{
    font-size: 0.8em;
    color: #333;
    margin-top: 5px;
}

.page_projects_course_author{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.8em;
}

.page_projects_course_author img{
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 25px;
}


.page_projects_course_points img{
    display: inline-block;
    width: 30px;
    padding: 10px 5px 0 5px;
}

.club_page_factory .club_page_projects_course_content{
    color: #555;
    background: #fbfbfb;
    border-color: #ccc;
}

.club_page_offer{
    background: #2ab1c8;
    color: #fff;
}


/*container video*/
.page_main_video{
    display: block;
    background: url("images/transparent_logo.png") #31495d bottom center repeat;
    /*background: #31495d url ("images/transparent_logo.png") bottom center repeat;*/
    max-width: 100%;
    color: #fff;
}

/*footer*/

.main_footer .content{
    padding: 40px 0;
    color: #fff;
}

.main_footer .tagline{
    font-size: 0.7em;
    font-weight: 300;
    margin: 30px 0;
}

.main_footer .tagline_m{
    margin: 20px 0 0 0;
}

.main_footer .tagline a{
    font-weight: 400;
    color: #ccc;
}

.main_footer_title{
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 1px #000;
    margin-bottom: 30px;
}

.main_footer_title span{
    padding-bottom: 5px;
    border-bottom: 3px solid #008FC4;
}

/*COPY*/
.main_footer_copy{
    position: relative;
    font-weight: 300;
    color: #ccc;
    text-align: center;
    font-size: 0.8em;
    padding: 70px 0 20px 0;
    background: #282929 url(images/main_header_bg.png) center left no-repeat;
    border-top: 1px solid #222;
}

.main_footer_copy a{
    color: #ccc;
    text-decoration: none;
    font-weight: 400;
}

.main_footer_copy a:hover{
    color: #fff;
    text-decoration: underline;
}

.main_footer_copy_alert{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 0.8em;
}

.main_footer_copy_partner{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    margin-top: -20px;
    padding: 15px;
    background: #202020;
    border: 2px solid #101010;
    width: 200px;
}

.main_footer_copy_partner:hover{
    background: #008FC4;
}

.main_footer{
    float: left;
    width: 100%;
    background: #f2f2f2;
    font-size: 0.875em;
    color: #333;
}

.main_footer .left{
    float: left;
}

.main_footer .right{
    float: right;
    text-align: right;
}
    
/*BREAK POINT 1024px*/
@media(min-width: 64em){    
    .club_page_main_media{
        display: none;
    }